.flappy-bird-game {
    background-color: #70c5ce;
    position: relative;
    width: 100vw;
    height: 400px;
    overflow: hidden;
    margin: 0;
  }
  
  .bird {
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
  }
  
  .pipe {
    background-color: green;
    position: absolute;
  }
  